{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}

<div class="dashboard-cards">
    <div class="row row-title">
        <h3>Data Extraction</h3>
        <p><i class="fab fa-python"> </i> BeautifulSoup4 • requests • nltk • csv</p>
    </div>
    <div class="row row-cards">
        <div class="col-md-4">
            <div class="card horizontal step-card">
                <div class="card-image">
                    <img src="{% static 'img/data/e.png' %}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>BS4 Web Crawler</h5>
                        <p>Scrape Springboardcourses.ie course data with Beautifulsoup4</p>
                    </div>
                    <div class="card-action">
                        <button onclick="window.location='{% url 'data:data_extraction' %}'" class="btn-scraper">Run
                            WebCrawler
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-title">
        <h3>Data Preprocessing Steps</h3>
        <p><i class="fab fa-python"> </i> Pandas • NLTK • NumPy • Datetime</p>
    </div>

    <div class="row row-cards">
        <div class="col-md-4">
            <div class="card horizontal step-card">
                <div class="card-image">
                    <img src="{% static 'img/data/a.png' %}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>Date Format</h5>
                        <p>Fixing DateTime columns with .datetime.strptime function.</p>
                    </div>
                    <div class="card-action">
                        {% if phase != "data_extraction" %}
                        <a href="#modal1" class="modal-trigger">Data Visualization</a>
                        {% else %}
                        <a href="" class="modal-trigger phase-negative">Run Webcrawler First</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card horizontal step-card">
                <div class="card-image">
                    <img src="{% static 'img/data/c.png' %}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>Yes/No to 1/0</h5>
                        <p>Swapping Yes/No to 1-0 with .map({'Yes': 1, 'No': 0}) function.</p>
                    </div>
                    <div class="card-action">
                        {% if phase != "data_extraction" %}
                        <a href="#modal2" class="modal-trigger">Data Visualization</a>
                        {% else %}
                        <a href="" class="modal-trigger phase-negative">Run Webcrawler First</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card horizontal step-card">
                <div class="card-image">
                    <img src="{% static 'img/data/b.png' %}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>Skill Area column cleaning</h5>
                        <p>Featurizing skill column for future analytics.</p>
                    </div>
                    <div class="card-action">
                        {% if phase == "data_preprocessing" %}
                        <button onclick="window.location='{% url 'data:data_featurization' %}'" class="btn-scraper">
                            Skills
                            Featurization
                        </button>
                        {% elif phase == "mlb_ready" %}
                        <a href="#modal3" class="modal-trigger">Data Visualization</a>
                        {% else %}
                        <a href="" class="modal-trigger phase-negative"> Run Webcrawler First</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-title">
        <h3>Data Loading</h3>
        <p><i class="fab fa-python"> </i> Django • postgres • sqlite3 • csv</p>
    </div>

    <div class="row row-cards">
        <div class="col-md-4">
            <div class="card horizontal step-card">
                <div class="card-image">
                    <img src="{% static 'img/data/f.png' %}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>Load to Django DB</h5>
                        <p>Loading extracted course data into connected database.</p>
                    </div>
                    <div class="card-action">
                        {% if phase != "data_extraction" %}
                        <button onclick="window.location='{% url 'data:data_upload' %}'" class="btn-scraper">Load
                            to DB
                        </button>
                        {% else %}
                        <a href="" class="modal-trigger phase-negative"> Run Webcrawler First</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-5 text-left">
                <div class="card description_card">
                    <h2>DateTime fields in Raw Dataset:</h2>
                    <br>
                    <div class="row">
                        {{ dates_raw | safe}}
                    </div>
                </div>
            </div>
            <div class="col-md-1 text-center" style="margin-top:28%">

                <i class="fas fa-4x fa-arrow-alt-circle-right arrow"></i>
            </div>
            <div class="col-md-6 text-left">
                <div class="card description_card">
                    <h2>Formatted DateTime fields:</h2>
                    <br>
                    <div class="row">
                        {{ dates_clean | safe}}
                    </div>
                </div>
            </div>
        </div>
        <a href="#!" class="modal-close waves-effect btn-flat">Back to Page </a>
    </div>
</div>

<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-2 text-center"></div>
            <div class="col-md-3 text-left">
                <div class="card description_card">
                    <h2>OTE Field in Raw Dataset:</h2>
                    <br>
                    <div class="row text-center">

                        {{ ote_raw | safe}}
                    </div>
                </div>
            </div>
            <div class="col-md-1 text-center" style="margin-top:35%">

                <i class="fas fa-4x fa-arrow-alt-circle-right arrow"></i>
            </div>
            <div class="col-md-3 text-left">
                <div class="card description_card">
                    <h2>Formatted OTE field:</h2>
                    <br>
                    <div class="row text-center">
                        {{ ote_clean | safe}}
                    </div>
                </div>
            </div>
        </div>
        <a href="#!" class="modal-close waves-effect btn-flat">Back to Page </a>
    </div>
</div>


<div id="modal3" class="modal">
    <div class="modal-content">
        <div class="row">

            <div class="card description_card_mlb">
                <h2>Raw Skill Area Field:</h2>
                <br>
                <div class="row text-center">

                    {{ skill_raw | safe}}
                </div>
            </div>

        </div>
        <div class="row" style="margin-left: 46%;">

            <i class="fas fa-4x fa-arrow-alt-circle-down arrow"></i>
        </div>
        <div class="row">

            <div class="card description_card_mlb">
                <h2>Skill Featurization:</h2>
                <br>
                <div class="row text-center">
                    {{ skill_clean | safe}}
                </div>
            </div>
        </div>
        <a href="#!" class="modal-close waves-effect btn-flat">Back to Page </a>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large light-green darken-2" href="{% url 'dashboard:dashboard' %}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>


{% endblock %}


