{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}

<div class="dashboard-cards">
    <br><br>
    <div class="row row-title-cards">
        <div class="col-md-3">
            <div class="card menu-card">
                <div class="card-image">
                    <img src="{% static 'img/preprocessing.jpg' %}" class="img responsive">
                </div>
                <div class="card-content">
                    <span class="card-title">Data Preprocessing</span>
                    <p>Preparing Dataset for future analytics with BS4 & Pandas.</p>
                </div>
                <button onclick="window.location='{% url 'data:preprocessing' %}'" type="submit" class="btn btn-enter"><span>Continue <i class="far fa-arrow-alt-circle-right"></i></span></button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card menu-card">
                <div class="card-image">
                    <img src="{% static 'img/statistics.jpg' %}" class="img responsive">
                </div>
                <div class="card-content">
                    <span class="card-title">Courses Statistics</span>
                    <p>Latest Springboard.ie course offer's. With Chart.js</p>
                </div>
                <button onclick="window.location='{% url 'insights:statistics' %}'" type="submit" class="btn btn-enter"><span>Continue <i class="far fa-arrow-alt-circle-right"></i></span></button>
            </div>

        </div>
        <div class="col-md-3">

            <div class="card menu-card">
                <div class="card-image">
                    <img src="{% static 'img/insights.jpg' %}" class="img responsive">
                </div>
                <div class="card-content">
                    <span class="card-title">Courses Insights</span>
                    <p>Presenting critical data from the latest course offer.</p>
                </div>
                <button onclick="window.location='{% url 'insights:insights' %}'" type="submit" class="btn btn-enter"><span>Continue <i class="far fa-arrow-alt-circle-right"></i></span></button>
            </div>

        </div>
        <div class="col-md-3">

            <div class="card menu-card">
                <div class="card-image">
                    <img src="{% static 'img/apriori.jpg' %}" class="img responsive">
                </div>
                <div class="card-content">
                    <span class="card-title">Apriori Alogorithm</span>
                    <p>Finding out course correlations with Apriori algorithm. </p>
                </div>
                <button onclick="window.location='{% url 'insights:apriori' %}'" type="submit" class="btn btn-enter"><span>Continue <i class="far fa-arrow-alt-circle-right"></i></span></button>
            </div>

        </div>
    </div>
</div>



{% endblock %}
