{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}

<div class="dashboard-cards">

    <div class="row row-title">
        {% if phase == 'mlb_ready'%}
        <h3>The Fastest Msc. Degree</h3>
        {% else %}
        <h3 style="color:red">Dataset Missing - Finish the preprocessing steps first</h3>
        {% endif %}
        <p><i class="fas fa-graduation-cap"></i> The Fastest Master's Degree Programs in the current Springboard.ie
            offer</p>
    </div>
    <div class="row row-cards">
        {% for element in dataset_masters_list %}
        <div class="col-md-6 col-lg-4">
            <div class="card horizontal step-card">
                <div class="card-image">
                    <img src="{% static 'img/data/masters.png' %}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="course_title" style="color: #662b61">{{ element.0|truncatechars:70 }}</h5>
                        <p>{{ element.1|truncatechars:40 }}</p>
                        <span class="course_span">Duration: <b class="course_info" style="color: #662b61">{{ element.12 }} Days</b></span>
                        <p>Deadline: {{ element.5 }}</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" href="{{element.11}}" class="modal-trigger link">Visit Webiste</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row row-title">
        {% if phase == 'mlb_ready'%}
        <h3>The Fastest Bsc. Degree</h3>
        {% else %}
        <h3 style="color:red">Dataset Missing - Finish the preprocessing steps first</h3>
        {% endif %}
        <p><i class="fas fa-graduation-cap"></i> The Fastest Bachelor's Degree Programs in the current Springboard.ie
            offer</p>
    </div>
    <div class="row row-cards">
        {% for element in dataset_bachelors_list %}
        <div class="col-md-6 col-lg-4">
            <div class="card horizontal step-card">
                <div class="card-image">
                    <img src="{% static 'img/data/bachelor.png' %}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="course_title" style="color: #919932">{{ element.0|truncatechars:70 }}</h5>
                        <p>{{ element.1|truncatechars:40 }}</p>
                        <span class="course_span">Duration: <b class="course_info" style="color: #919932">{{ element.12 }} Days</b></span>
                        <p>Deadline: {{ element.5 }}</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" href="{{element.11}}" class="modal-trigger link">Visit Webiste</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row row-title">
        {% if phase == 'mlb_ready'%}
        <h3>The Other Fastest Courses</h3>
        {% else %}
        <h3 style="color:red">Dataset Missing - Finish the preprocessing steps first</h3>
        {% endif %}
        <p><i class="fas fa-graduation-cap"></i> The Other Fastest Degree Programs available on Springboard.ie</p>
    </div>
    <div class="row row-cards">
        {% for element in dataset_others_list %}
        <div class="col-md-6 col-lg-4">
            <div class="card horizontal step-card">
                <div class="card-image">
                    <img src="{% static 'img/data/other.png' %}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="course_title" style="color: #f28e2b">{{ element.0|truncatechars:70 }}</h5>
                        <p>{{ element.1|truncatechars:40 }}</p>
                        <span class="course_span">Duration: <b class="course_info" style="color: #f28e2b">{{ element.12 }} Days</b></span>
                        <p>Deadline: {{ element.5 }}</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" href="{{element.11}}" class="modal-trigger link">Visit Webiste</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row row-title">
        {% if phase == 'mlb_ready'%}
        <h3>The Closest Deadline</h3>
        {% else %}
        <h3 style="color:red">Dataset Missing - Finish the preprocessing steps first</h3>
        {% endif %}
        <p><i class="fas fa-graduation-cap"></i> Top 6 Degree Programs with closest deadline</p>
    </div>
    <div class="row row-cards">
        {% for element in dataset_others_list %}
        <div class="col-md-6 col-lg-4">
            <div class="card horizontal step-card">
                <div class="card-image">
                    <img src="{% static 'img/data/deadline.png' %}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="course_title" style="color: #e15759">{{ element.0|truncatechars:70 }}</h5>
                        <p>{{ element.1|truncatechars:40 }}</p>
                        <p>Duration: {{ element.12 }} Days</p>
                        <span class="course_span">Deadline: <b class="course_info" style="color: #e15759">{{ element.5 }}</b></span>
                    </div>
                    <div class="card-action">
                        <a target="_blank" href="{{element.11}}" class="modal-trigger link">Visit Webiste</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large light-green darken-2" href="{% url 'dashboard:dashboard' %}">
    <i class="large material-icons">exit_to_app</i>
  </a>
</div>

{% endblock %}